keepassify @ git+https://github.com/gil-c/keepassify.git@v0.1.1
trimesh>=4.4
pyvista>=0.44
trame>=3.6
trame-vtk>=2.8
trame-vuetify>=2.7
nest_asyncio2>=1.6
pyroomacoustics>=0.10
shapely>=2.1
manifold3d>=3.5
mapbox_earcut>=2.0
rtree>=1.4
scikit-image>=0.26
fast_simplification>=0.1
h5py>=3.11
scipy>=1.13
